In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [12]:
df=pd.read_csv('data/titanic_knn_imputer.csv',usecols=['Age','Pclass','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [13]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [41]:
knn=KNNImputer(n_neighbors=5,weights='uniform') #distance, uniform
x_train_trf=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)

x_train_trf

array([[  1.    ,  45.5   ,  28.5   ],
       [  2.    ,  23.    ,  13.    ],
       [  3.    ,  32.    ,   7.925 ],
       ...,
       [  3.    ,  41.    ,  14.1083],
       [  1.    ,  14.    , 120.    ],
       [  1.    ,  21.    ,  77.2875]], shape=(712, 3))

In [42]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

     Pclass   Age      Fare
0       1.0  45.5   28.5000
1       2.0  23.0   13.0000
2       3.0  32.0    7.9250
3       3.0  26.0    7.8542
4       3.0   6.0   31.2750
..      ...   ...       ...
707     3.0  21.0    7.6500
708     1.0  39.0   31.0000
709     3.0  41.0   14.1083
710     1.0  14.0  120.0000
711     1.0  21.0   77.2875

[712 rows x 3 columns]

In [43]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

74.30167597765363