In [16]:
import numpy as np
import pandas as pd

In [17]:
np.random.seed(23)

In [21]:
mu_vec1=np.array([0,0,0])
cov_mat1=np.array([[1,0,0],[0,1,0],[0,0,1]])
class1_sample=np.random.multivariate_normal(mu_vec1,cov_mat1,20)

In [22]:
df=pd.DataFrame(class1_sample,columns=['feature1','feature2','feature3'])
df['target']=1
df.head()

   feature1  feature2  feature3  target
0  0.450596  1.617452 -0.342365       1
1 -0.623486 -2.014808  1.870894       1
2  1.873198 -0.501456  0.090094       1
3 -0.093945  1.360485 -1.569843       1
4  0.676403 -2.255887  0.653616       1

In [23]:
mu_vec2=np.array([1,1,1])
cov_mat2=np.array([[1,0,0],[0,1,0],[0,0,1]])
class2_sample=np.random.multivariate_normal(mu_vec2,cov_mat2,20)


df1=pd.DataFrame(class2_sample,columns=['feature1','feature2','feature3'])
df1['target']=0
df1.head()


df=pd.concat([df,df1])
df=df.sample(40)

In [24]:
df.head()

    feature1  feature2  feature3  target
15 -0.465502 -0.305861  2.231087       0
15  0.081290 -1.119842  0.437358       1
13  1.755376  0.139386  0.741368       0
18  1.811950  1.530399  1.278620       0
3  -0.093945  1.360485 -1.569843       1

In [ ]:
import plotly.express as px

fig=px.scatter_3d(df,x=df['feature1'],y=df['feature2'],z=df['feature3'],color=df['target'].astype('str'))
fig.update_traces(marker=dict(size=12,line=dict(width=2,color='DarkSlateGray')),selector=dict(mode='markers'))
fig.show()